/*
 * Styles for Send System Info Plugin
 */

h1.ssi-title {
	margin-bottom: 1em;
}

.wrap header p {
	font-size: 1.2em;
	width: 60rem;
	opacity: 0.7;
}

#template textarea#ssi-textarea {
	height: 500px;
	width: 100%;
    max-width: 60rem;
	margin-bottom: .5em;
}

.ssi-email-form .description {
	font-weight: normal;
}

input[type="text"].ssi-url {
	font-family: 'Consolas', 'Monaco', monospace;
	width: 600px;
	color: #444;
}

.ssi-tiny {
	font-size: .8em;
}