/*
 * Styles for Send System Info Plugin
 */

h1.ssi-title {
	margin-bottom: 1em;
}

.wrap header p {
	font-size: 1.2em;
	width: 60rem;
	opacity: 0.7;
}

#template textarea#ssi-textarea {
	height: 500px;
	width: 100%;
    max-width: 60rem;
	margin-bottom: .5em;
}

table.form-table.ssi-email-form {
	max-width: 60rem;
}

.ssi-email-form .description {
	font-weight: normal;
}

input[type="text"].ssi-url {
	font-family: 'Consolas', 'Monaco', monospace;
	width: 600px;
	color: #444;
}

@-webkit-keyframes generate {
    0% {
        background-color: #66BB6A;
        opacity:1;
    }
    100% {
        background-color: #EEEEEE;
    }
}

.generate {
    -webkit-animation-name: generate;
    -webkit-animation-duration: 900ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes delete {
    0% {
        background-color: #dd5d5f;
        opacity:1;
    }
    100% {
        background-color: #EEEEEE;
    }
}

.delete {
    -webkit-animation-name: delete;
    -webkit-animation-duration: 900ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
}